<div>
  <h3 class="text-center">Hoạt động đã lưu</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col" colspan="2">STT</th>
            <th scope="col">Loại hoạt động</th>
            <th scope="col">Số tiền</th>
            <th scope="col">Ghi chú</th>
            <th scope="col">Thời gian tạo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <td>
                <!-- Checkbox and ID -->
            </td>
            <th scope="row">{{@index}} </th>
            <td>{{this.action}}</td>
            <td>{{this.prices}}</td>
            <td>{{this.note}}</td>
            <td class="formatted-date">{{this.createdAt}}</td>
            <td>
                <a href="/courses/{{this._id}}/edit" class="btn btn-light" data-id="{{this._id}}">Sửa</a>
                <a href="#" class="btn btn-light" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xoá</a>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="5" class="text-center">Bạn chưa có khoản chi tiêu nào
                <a href="/courses/create">Thêm khoản chi tiêu</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>


<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Thao tác này sẽ xoá vĩnh viễn hoạt động</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá</button>
        <button  type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>



<form name="delete-form" method="post"></form>



<script>
  const formattedDates = document.querySelectorAll('.formatted-date');
  formattedDates.forEach(element => {
      const originalDate = element.textContent;
      const formattedDate = new Date(originalDate).toLocaleString('en-US', {
          timeZone: 'Asia/Ho_Chi_Minh',
          year: 'numeric',
          month: 'long',
          day: 'numeric',
          hour: '2-digit',
          minute: '2-digit',
          second: '2-digit'
      });
      element.textContent = formattedDate;
  });  
  document.addEventListener('DOMContentLoaded', function(){
    var courseId;
    var deleleForm = document.forms['delete-form'];
    var btnDeletecourse = document.getElementById('btn-delete-course');
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) ;
      courseId = button.data('id') ;
    }); 
    btnDeletecourse.onclick = function(){
        deleleForm.action = '/courses/' + courseId + '?_method=DELETE';
        deleleForm.submit();
    }
  });
  </script>